@model IEnumerable<PCStore.ViewModels.EmployeeListViewModel>

@{
    ViewData["Title"] = "Список менеджерів";
}

<p>
    <a class="btn admin-btn" asp-action="AddEmployee">Додати менеджера</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Role)
            </td>
            <td>
                <a asp-controller="User" asp-action="RemoveEmployee" asp-route-email="@user.Email">Звільнити</a>
            </td>
        </tr>
    }
    </tbody>
</table>
